*{
  margin: 0;
}

.App{
  height: 100vh;
  background: rgb(4,0,79);
  background: linear-gradient(180deg, rgba(4,0,79,1) 5%, rgba(13,17,143,1) 13%, rgba(79,91,180,1) 23%, rgba(5,100,120,1) 40%, rgba(2,26,31,1) 55%, rgba(7,142,171,1) 90%, rgba(5,100,120,1) 100%);
  display:grid;
  place-items: center;
}

.moneyGrowth{
  position:absolute;
  bottom:1rem !important;
  left: 0px;
}

/* This fires as soon as the element enters the DOM*/
.results-transition-enter {
  /*We give the list the initial dimension of the list button*/
  top: 0;
  width: 120px;
  min-height: 200px;
  color: transparent;
  background-color: #5a564c;
  }

  /* This is where we can add the transition*/
  .results-transition-enter-active {
  top: 45px;
  width: 200px;
  min-height: 200px;
  background-color: #9e8949;
  transition: ease-in 500ms;
  }
  /* This fires as soon as the this.state.showList is false */
  .results-transition-exit {
  top: 45px;
  width: 200px;
  min-height: 200px;
  background-color: #9e8949;
  }
  /* fires as element leaves the DOM*/
  .results-transition-exit-active {
  top: 0;
  width: 120px;
  min-height: 40px;
  color: transparent;
  background-color: #5a564c;
  transition: all 200ms;
  }

  .rotate-in {
    animation: myAnim 1s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateY(-250px) rotate(-200deg);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0deg);
    }
  }