.counterContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.MuiInput-input{
  text-align: center;
  width: 4rem !important;
  color: white ! important;
}

.MuiSvgIcon-root{
  margin-top: 1rem;
}
