.form{
  display: grid;
  padding: 2rem 4rem;
  min-width: 15rem;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.employeesCounterContainer{
  display: flex;
  justify-content: space-between;
}

.boolBusgirls{
  display: flex;
  justify-content: space-between;
}

.bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.MuiOutlinedInput-input{
  width: 4rem !important;
  text-align: center;
  color: white !important;
}