.resultsContainer{
  color: white;
  display: grid;
  padding: 2rem 3.5rem;
  min-width: 15rem;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 2rem;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: .2rem;
  animation: show 1s ease 0s 1 normal forwards;
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.hideResultsContainer{
  color: white;
  display: grid;
  padding: 2rem 3.5rem;
  min-width: 15rem;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 2rem;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: .2rem;
  animation: hideResults 1s ease 0s 1 normal forwards;
}
@keyframes hideResults {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.redText{
  color: #B20000
}

.fade-in-text {
  animation: fadeIn linear 8s;
  -webkit-animation: fadeIn linear 8s;
  -moz-animation: fadeIn linear 8s;
  -o-animation: fadeIn linear 8s;
  -ms-animation: fadeIn linear 8s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}